body{
    background: url('../images/wppSolarSys.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 4px; 
}
label{
    font-size: 1rem !important;
    color: #ffffff !important;
    opacity: 1 !important;

}
#datepicker{
    width: 120px;
    height: 120px;
    text-align: center;
    background: url(../images/sun.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    opacity: 1 !important;
}

:-ms-input-placeholder {  
   color: #ffffff;
   opacity: 1 !important;
}
.waves-input-wrapper{
    vertical-align: middle !important;
}
.card-image{
    height: 400px;
}
.activator{
    height: 100%;
    object-fit: cover;
}