@import url('https://fonts.googleapis.com/css?family=Audiowide');

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes text-pop-up-left {
    0% {
        transform: translateX(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        transform: translateX(-50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes big-little {
    25% {
        transform: scale(1.5, 1.5) rotate(3deg);
    }
    75% {
        transform: scale(.75, .75) rotate(-3deg);
    }
}
/*body{
    padding: 0;
    margin: 0;
    background: url('../images/adventure-astro-astrophotography-1009136.jpg') -25px -50px;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/

h1{
    font-family: 'Audiowide', cursive;
    animation: text-pop-up-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#projects{
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.frontend{
    background: linear-gradient(to right, red, purple);
    padding-bottom: 3px;
}

.backend{
    background: linear-gradient(to right, purple, yellow);
    padding-bottom: 3px;
}

.others{
    background: linear-gradient(to right, yellow, lightblue);
    padding-bottom: 3px;
}

h3{
    margin-top: 0;
}
#skills ul{
    margin: 0;
}

#skills i:hover{
    animation: big-little 1s infinite linear;
    cursor: pointer;
}