@keyframes rotationWord{
	from {
		transform: rotate(0deg)
		           translate(180px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(180px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord2{
	from {
		transform: rotate(0deg)
		           translate(300px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(300px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord3{
	from {
		transform: rotate(0deg)
		           translate(420px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(420px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord4{
	from {
		transform: rotate(0deg)
		           translate(540px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(540px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord5{
	from {
		transform: rotate(0deg)
		           translate(660px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(660px) 
		           rotate(-360deg);
	}
}
@keyframes shadow-pop-tr{
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            transform: translateX(-8px) translateY(8px);
  }
}

@keyframes vibrate-1{
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, 2px);
  }
  80% {
            transform: translate(2px, -2px);
  }
  100% {
            transform: translate(0);
  }
}

body{
  padding: 0;
  margin: 0;
  background:url('../images/adventure-astro-astrophotography-1009136.jpg') -25px -50px;
  top:0;
  width:100%;
  z-index:0;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#startPageCarousel, #skills{
  background: rgba(255,255,255,.3);
  border-radius:5px;
  border:1px solid rgba(255,255,255,.3);
  text-shadow:0 1px 1px rgba(0,0,0,.4);
}

.carousel-item{
  height: 80vh;
}

.imageCarousel{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.gridTile {
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    position: absolute;
    background: url("../images/gridtile.png") repeat;
    z-index: 100;
} 

.carousel-indicators{
  z-index: 2000;
  position: relative;
  top: 10px;
}

.carousel-indicators li{
  height: 6px;
  padding: 0 8%;
}

.progressBar {
  height: 10px;
  width: 100%;
  margin: -8px 0 0 0;
  border: none;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.carousel-control-prev, .carousel-control-next{
  z-index: 101;
  padding-top: 60vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  transition: 0.5s;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
  transform: scale(1.4,1.4);
  cursor: pointer;
  transition: 0.5s;
}

.carousel-caption{
  z-index: 1001;
}

.githubButton{
  border-width: 3px;
  font-weight: 800;
}

.disabled{
  cursor: not-allowed;
}

#javascript{
  margin: 50%;
  color: white;
  cursor: default;

}

#javascript h3{
  margin-left: -40px;
  background-image: url('../images/sun.png');
  display: block;
  padding: 80px 16px;
  border-radius: 1000px;
  /*animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;*/
  font-weight: 700;
  height: 200px;
  width: 200px;
  background-size: cover;
}

#javascript h3:hover{
  animation: vibrate-1 0.3s linear infinite;
}

#javascript h4{
  animation: rotationWord 5s infinite linear;
  position: absolute;
  margin-left: 0px;
  margin-top: -150px;
  padding: 40px 16px;
  width: 120px;
  height: 120px;
  text-align: center;
}

#javascript h4{
  animation: rotationWord 4s infinite linear;
  background-image: url('../images/mercury.png');
  background-size: cover;
  animation-delay: -5s;
}
#javascript h4:nth-child(2){
  animation: rotationWord2 6s infinite linear;
  background-image: url('../images/venus.png');
  background-size: cover;
}

#javascript h4:nth-child(3){
  animation: rotationWord3 8s infinite linear;
  background-image: url('../images/earth.png');
  background-size: cover;
  animation-delay: -10s;

}
#javascript h4:nth-child(4){
  animation: rotationWord4 10s infinite linear;
  background-image: url('../images/mars.png');
  background-size: cover;
  animation-delay: -5s;
}
#javascript h4:nth-child(5){
  animation: rotationWord5 20s infinite linear;
  background-image: url('../images/jupiter.png');
  background-size: cover;
  animation-delay: -2s;
}