@keyframes rotationWord{
	from {
		transform: rotate(0deg)
		           translate(160px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(160px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord2{
	from {
		transform: rotate(0deg)
		           translate(280px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(280px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord3{
	from {
		transform: rotate(0deg)
		           translate(400px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(400px) 
		           rotate(-360deg);
	}
}

@keyframes rotationWord4{
	from {
		transform: rotate(0deg)
		           translate(520px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(520px) 
		           rotate(-360deg);
	}
}
@keyframes rotationWord5{
	from {
		transform: rotate(0deg)
		           translate(660px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(660px) 
		           rotate(-360deg);
	}
}
@keyframes rotationWord6{
	from {
		transform: rotate(0deg)
		           translate(760px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(760px) 
		           rotate(-360deg);
	}
}
@keyframes shadow-pop-tr{
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            transform: translateX(-8px) translateY(8px);
  }
}

@keyframes vibrate-1{
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, 2px);
  }
  80% {
            transform: translate(2px, -2px);
  }
  100% {
            transform: translate(0);
  }
}

body{
  padding: 0;
  margin: 0;
  background:url('../images/adventure-astro-astrophotography-1009136.jpg') -25px -50px;
  top:0;
  width:100%;
  z-index:0;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#startPageCarousel, #skills{
  background: rgba(255,255,255,.3);
  border-radius:5px;
  border:1px solid rgba(255,255,255,.3);
  text-shadow:0 1px 1px rgba(0,0,0,.4);
}

.carousel-item{
  height: 80vh;
}

.imageCarousel{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.gridTile {
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    position: absolute;
    background: url("../images/gridtile.png") repeat;
    z-index: 100;
} 

.carousel-indicators{
  z-index: 2000;
  position: relative;
  top: 10px;
}

.carousel-indicators li{
  height: 6px;
  padding: 0 8%;
}

.progressBar {
  height: 10px;
  width: 100%;
  margin: -8px 0 0 0;
  border: none;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.carousel-control-prev, .carousel-control-next{
  z-index: 101;
  padding-top: 60vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  transition: 0.5s;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
  transform: scale(1.4,1.4);
  cursor: pointer;
  transition: 0.5s;
}

.carousel-caption{
  z-index: 1001;
}

.githubButton{
  border-width: 3px;
  font-weight: 800;
}

.disabled{
  cursor: not-allowed;
}




#skills{
  padding: 50%;
  color: white;
  cursor: default;
  background-image: url('../images/space.jpg');
  background-size: contain;
  text-align: center;
}

.sun{
  margin-left: -40px;
  background-image: url('../images/sun.png');
  padding-top: 90px;
  font-weight: 700;
  font-size: 1.5rem;
  height: 200px;
  width: 200px;
  background-size: cover;
  text-transform: uppercase;
}

.sun:hover{
  animation: vibrate-1 0.3s linear infinite;
}

#skills h4{
  position: absolute;
  margin-left: 0px;
  margin-top: -150px;
  padding-top: 40px;
  width: 7rem;
  height: 7rem;
  background-size: cover;
}

.mercury{
  animation: rotationWord 7s infinite linear;
  background-image: url('../images/mercury.png');
  animation-delay: -2s;
}
.venus{
  animation: rotationWord2 19s infinite linear;
  background-image: url('../images/venus.png');
  animation-delay: -12s;
}

.earth{
  animation: rotationWord3 30s infinite linear;
  background-image: url('../images/earth.png');
  animation-delay: -50s;

}
.mars{
  animation: rotationWord4 56s infinite linear;
  background-image: url('../images/mars.png');
  animation-delay: -23s;
}
.belt{
  animation: rotationWord5 26s infinite linear;
  background-image: url('../images/asteroide.png');
  animation-delay: -23s;
  padding-top: 25px !important;
  width: 7rem !important;
  height: 5rem !important;
}
[class~='belt']:nth-last-of-type(2){
  animation: rotationWord5 150s infinite linear;
  animation-delay: -90s;
}
[class~='belt']:nth-last-of-type(3){
  animation: rotationWord5 59s infinite linear;
  animation-delay: -9s;
}
[class~='belt']:nth-last-of-type(4){
  animation: rotationWord5 80s infinite linear;
  animation-delay: -30s;
}
[class~='belt']:nth-last-of-type(5){
  animation: rotationWord5 110s infinite linear;
  animation-delay: -56s;
}
.jupiter{
  animation: rotationWord6 200s infinite linear;
  background-image: url('../images/jupiter.png');
  animation-delay: -400s;
}
