body{
  color: white;
}
.container-fluid, .row{
  padding: 0;
  margin: 0;
}
h2{
  text-align: center;
  padding-bottom: 15px;
}
#presentation{
  height: 100vh;
}
#presentation li{
  list-style-type: square;
}
#formation, #contact{
  background-color: black;
}
#competence, #experience{
  background-color: #5d576b;
}
ul{
  list-style-type: none;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
}
#navigateur ul li a:hover{
  background-color: rgba(0,0,0,0.6);
  color: white;
}
#video{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1000;
}
.bio{
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 12px 0 12px 0;
  padding: 15px;
}
.vanille{
  height: 2px;
  width: 16%;
  background-color: #f6f5ae;
  margin: 10px 0 10px 42%;
}
#formation .row{
  padding: 15px;
}
.can{
  height: 380px;
  background-color: grey;
  border-radius: 45px;
  padding: 15px;
  margin-bottom: 20px;
}
#formation .row div:hover{
  transform: scale(1.01, 1.01);
  border: 2px white solid;
}
#formation{
  text-align: center;
}
#formation i{
  font-size: 2em;
  color: Beige;
  margin: 15px;
}
#formation a{
  text-decoration: none;
  color: Red;
}
#formation a:hover{
  color: Black;
}
#experience .row{
  margin-top: 30px;
}
#experience li{
  list-style-type: square;
}
#contact a{
  text-decoration: none;
  color: white;
}
#contact i{
  font-size: 3em;
  margin: 20px;
}
#contact i:hover, #contact a:hover{
  color: Blueviolet;
  transform: rotate(10deg) scale(1.2, 1.2);
}
footer{
  height: 140px;
  background-color: #564138;
  text-align: center;
}
footer i{
  margin: 10px 0 25px 0;
  color: darkgrey;
  font-size: 3em;
}
@media all and (max-width: 767px){
  .espace, .bloc{
    height: 0;
  }
  #competence{
    height: 680px;
  }
  section{
    padding-top: 30px;
  }
  .navbar{
    font-size: 1.2em;
  }
  body{
    font-family:'Roboto',sans-serif;
  }
  .nomTitre, .nomTitre h1{
    font-size: 23px;
    margin-bottom: 22px;
    text-align: center;
  }
  #formation i{
    font-size: 1.5em;
  }
  #experience{
    height: 750px;
  }
  h3{
    font-size: 1.4em;
  }
  #contact a{
    font-size: 0.7em;
  }
}
@media all and (min-width: 767px){
  .espace{
    height: 40vh;
  }
  .bloc{
    height: 50%;
  }
  #competence{
    height: 500px;
  }
  section{
    padding-top: 64px;
  }
  .navbar{
    font-size: 2.4em;
    font-family: 'Amatic SC', cursive;
  }
  .nomTitre{
    font-size: 3em;
    font-family: 'Bungee Shade', cursive;
  }
  body{
    font-family:'Montserrat',sans-serif;
  }
  #formation i{
    font-size: 2em;
  }
  h3{
    font-size: 1.2em;
  }
  #experience{
    height: 400px;
  }
  #contact a{
    font-size: 1.1em;
  }
}
